header.page-header
  .page-header__content.container
    .page-header__logo
      .logo
    .page-header__menu
      ul.nav-menu.nav-menu_top
        li.nav-menu__item
          a.nav-menu__link(href='/') Home
        li.nav-menu__item
          a.nav-menu__link(href='#') Service
        li.nav-menu__item
          a.nav-menu__link(href='/about.html') About us
        li.nav-menu__item
          a.nav-menu__link(href='/plans.html') Pricing Table
        li.nav-menu__item
          a.nav-menu__link(href='#') How it works
        li.nav-menu__item
          a.nav-menu__link(href='#') Happy clients
        li.nav-menu__item
          a.nav-menu__link(href='#') Contact us