section.about
    .about__image
    .about__content.container
        .section-heading.section-heading_light.section-heading_align_left
            .section-heading__main About us
        .about__text
            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
            | Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            | galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
            | but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
            | the ore recently with desktop publishing software like Aldus PageMaker including versions of Lorem
            | Ipsum
        a.about__button.button(href='#') Read more