extends ./../partials/layout.pug 

block page_title
    title Business template

block content
    include ./../partials/section_main_screen.pug
    include ./../partials/section_services.pug
    include ./../partials/section_about.pug
    include ./../partials/section_plans.pug