$open_sans: 'Open Sans Regular';
$gotham: 'Gotham Pro Black';
$lato: 'Lato Regular';
$lato_bold: 'Lato Bold';
$lato_light: 'Lato Light';

$brand_orange_color: #ffbb42;
$brand_light_orange_color: #ffc155;

$brand_blue_color: #709dca;

$button_border_color: #e7ad48;
$icon_color: $brand_blue_color;
$icon_hover_color: #F6772C;
$heading_color: #394b50;


$section_plans_color: #e7edf3;
$plan_main_color: #818b95;
$description_border_color: #e2e9f0;
$description_text_color: #b5bbc1;
$primary_description_text_color: #c2e1ff;
$primary_description_border_color: #8eb8e2;

$transition_style: 0.2s ease-in-out;
$transition_style_long: 1s ease-in-out;

$testimoial_text_color: #7b7b7b;
$testimonial_author_color: $icon_hover_color;
$testimonials_position_color: $heading_color;

@function vw($size) {
    $test_screen_client_height: 1366;

    @return ($size / $test_screen_client_height) * 100vw;
}

@mixin scale($width, $diff: 'less') {
    $behaviour: max-width;
    $screen-width: $width;

    @if ($diff == 'less') {
        $screen-width: $width - 1;
    }
    @if ($diff == 'self-above') {
        $behaviour: min-width;
    }

    @media screen and (#{$behaviour}: #{$screen-width}px) {
        @content;
    }
}

$input_icon_size: 41px;
$input_line_height: 1;
$input_font_size: 10px;
$input_padding: 18px;
$input_border_color: #cbcbcb;

$slider_arrows_size: 25px;
$slider_arrows_x_space: 40;
$slider_arrows_bottom: 190;
$slider_dots_active_color: #1ca8dd;
$slider_dots_color: #dedfe0;

$about_image_size: 50%;
$baloon_background_color:#394b50;
$baloon_address_color: #aeb7ba;

$bottom_nav_border_color: #e3e7ec;
